    <h1 style="font-weight: bold;">Pokemon</h1>
    <div style="display: flex; flex-direction: row; gap: 20px;">
        <mat-form-field>
            <mat-label>Cherchez un pokemon</mat-label>
            <input matInput [(ngModel)]="id" name="pokemonSearch"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>readonly</mat-label>
            <input matInput readonly [value]="id"/>
        </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Liste des Pokémons</mat-label>
        <mat-select [(ngModel)]="selectedPokemonID" name="pokemonSelect" (selectionChange)="selectPokemonID($event.value)">
            <mat-option *ngFor="let pokemon of pokemonList | filterPokemonPipe: 'name': this.id" [value]="pokemon.id">
                {{pokemon.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div style="display: flex; flex-direction: row; gap: 10px; margin-bottom: 10px;">
        <!-- <button mat-stroked-button (click)="fetchPokemon()">Go !</button> -->
    </div>